/* :root {
background: purple;
}

html {
max-width: 720px;

background: blue;
}

body {
background: #fff;
}

* {
color:red
}

.box {
background: #493b3b;
}

#user,
.user {
color: rgb(69, 16, 194);
}

.button {
background: #f30a0a;
}

div > p {
color: chartreuse;
}

footer > .user {
color: chocolate;
}

footer em {
color: chocolate;
} */

.card-dark {
background: #fafcf6;
}

.item {
color: brown;
}
{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5 box">
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="button" id="button">Купити</button>

    <p class="user">This is text</p>
</div>

<footer class="p-5 box">
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p class="user">
        <em>Test em</em>
    </p>
</footer> --}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}

    <div class="card p-5 m-5 card-dark">
        <ul>
            <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
            <li class="item">5</li>
        </ul>
    </div>